.block-menu-icon {
    position: fixed;
    top: 40%;
    right: 0;
}

.block-menu-icon .list-icon {
    margin: 0;
    padding: 0;
}

.block-menu-icon li {
    list-style: none;
    background-color: #f0f3f3;
    margin: 6px 0;
    padding: 8px 0px 8px 12px ;
    transform: translateX(76%);
    transition: 0.7s;
}

.block-menu-icon .list-icon .transform-icon {
    transform: translateX(0);
}

.block-menu-icon li:hover {
    transform: translateX(0);
}

.block-menu-icon .item-icon-link {
    color: var(--text2-color);
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.block-menu-icon .item-icon-link i {
    font-size: 2.2rem;
    margin-right: 10px;
}

.show-list-icon {
    background-color: var(--primary-color);
    color: var(--white--color);
    margin: 6px 0;
    padding: 8px 0px 8px 8px ;
    transform: translateX(76%);
    cursor: pointer;
}

.show-list-icon i {
    font-size: 2.2rem;
    margin-right: 10px;
    width: 50px;
}